!!! 5
%html{ :lang => "en"}
  %head
    %title
      <%= site_name %>
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'description', :content => "" }
    %meta{ :name => 'keywords', :content => "" }
    = stylesheet_link_tag :flutie, 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      .row
        .column.grid_12
          %h1
            %a{ :href => '/', :title => "" }
              <%= site_name %>
    - flash.each do |key, value|
      .row{ :class => key } 
        .column.grid_12
          = value
    #content
      .row
        .column.grid_12
          =yield
    #footer
      .row
        .column.grid_12
          %hr
          %p
            &copy; <%= Time.now.year %> <%= site_name %>
