<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= site_name %></title>
  <%%= stylesheet_link_tag :flutie, 'application' %>
  <%%= javascript_include_tag :defaults %>
  <%%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <div class="row">
      <div class="column grid_12">
        <h1><%= site_name %></h1>
      </div>
    </div>
  </div>
  
  <%% flash.each do |key, value| %>
    <div class="row <%%= key %>">
      <div class="column grid_12">
        <%%= value %>
      </div>
    </div> <!-- <%%= key %> -->
  <%% end %>
  
  <div id="content">
    <div class="row">
      <div class="column grid_12">
        <%%= yield %>
      </div>
    </div>  
  </div>
  
  <div id="footer">
    <div class="row">
      <div class="column grid_12">
        <p>&copy; <%= Time.now.year %> <%= site_name %></p>
      </div>
    </div>  
  </div>

</body>
</html>
