<% flash.each do |type, message| %>
  <% if type == "alert" %>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
      <%= message %>
    </div>
  <% else %>
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>
